/venv
/venv_airflow
/venv_spark
.idea/
lesson_02/.env
__pycache__/
.DS_Store
**/__pycache__/
lesson_02/test.py
**/test.py
**/.env
lesson_02/file_storage
lesson_07/airflow/*
!lesson_07/airflow/dags
lesson_14/data
lesson_14/.ipynb_checkpoints